body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paper {
  padding: 20px;
  margin: 10px;
}


.MuiInput-underline::after,.MuiInput-underline::before {
  border-bottom: 0 !important;
}